<!-- Login Modal -->
<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="login-modal-label">Login</h4>
      </div>
      <div class="modal-body">
	<form id="login"
	      action="{% url 'login' %}"
	      method="post"
	      class="form form-horizontal"
	      accept-charset="utf-8">
	  <fieldset class="container-fluid">
	    {% csrf_token %}
	    <input type="hidden" id="next" name="next" value="{{ request.path }}">
	    <div class="row">
	      <div class="col-md-6">
		<center>
		  <label class="control-label"  for="username">Username</label>
		  <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
		</center>
	      </div>
	      <div class="col-md-6">
		<center>
		  <label class="control-label" for="password">Password</label>
		  <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
		</center>
	      </div>
	    </div>
	    <hr/>
	    <center>
	      <button class="btn btn-success"><strong>Log in</strong></button>
	      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
	    </center>
	  </fieldset>
	</form>		  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.login-modal -->
<!-- Logout Modal -->
<div class="modal fade" id="logout-modal" role="dialog" aria-labelledby="logout-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="logout-modal-label">Logout</h4>
      </div>
      <div class="modal-body">
	<center>
	  <p>
	    Are you sure you want to log out of your account ?
	    <br/>
	    <small><i>You will be redirect to the home page afterwards.</i></small>
	    <hr/>
	    <a href="{% url 'logout' %}" class="btn btn-primary"><strong>Yes</strong></a>
	    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">No</button>
	  </p>
	</center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.logout-modal -->
