<p>The page you want to see requires proper credentials. Please log
  in using the below form :</p>
<form id="login"
      action="{% url 'login' %}"
      method="post"
      class="form form-horizontal"
      accept-charset="utf-8">
  <fieldset class="container-fluid">
    {% csrf_token %}
    <input type="hidden" id="next" name="next" value="{{ request.path }}">
    <div class="row">
      <div class="col-md-6">
	<center>
	  <label class="control-label"  for="username">Username</label>
	  <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
	</center>
      </div>
      <div class="col-md-6">
	<center>
	  <label class="control-label" for="password">Password</label>
	  <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
	</center>
      </div>
    </div>
    <hr/>
    <center>
      <input type="submit" value="Log in" class="btn btn-lg btn-success">
    </center>
  </fieldset>
</form>		  
