<table class="table table-striped table-condensed">
  <thead>
    <th>
      Name
    </th>
    <th>
      Description
    </th>
    <th>
      <small class="pull-right">Actions</small>
    </th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
	<a class="{% if object_label %}label label-{{ object_label }}{% endif %}" {% if object.get_absolute_url %} href="{{ object.get_absolute_url }}" {% endif %} class="text-danger">
	  <strong>{{ object.name }}</strong>
	</a>
      </td>
      <td>
	<p>
	  {{ object.description }}
	</p>
      </td>
      <td>
	{% include "django_pstch_helpers/list/actions.html" %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">
	<center class="label label-danger"><i class="glyphicon glyphicon-remove"></i> No objects.</center>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

