django-crucrudile.org

*~
*.pyc
.#*

build/
dist/
*.egg-info/

.coverage

.cov2emacs*
.coveralls.yml

var/pycallgraph.png

var/docs_html/
var/docs_coverage/
var/docs_doctests/

var/coverage_html/

var/pylint/

example_app/db.sqlite3
