<div class="row">
  <div class="col-sm-3">
    <form class="btn-group-vertical btn-block" method="POST">
      <input type="submit" class="btn btn-lg btn-danger" value="Confirm">
      <input type="hidden" name="next" value="{{ next_url }}">

      <a class="btn btn-default small" href="{{ object.get_absolute_url }}">Cancel</a>
      {% csrf_token %}
    </form>
  </div>
  <div class="col-sm-9">
    <table class="table table-details table-condensed">
      {% if object.name %}{% include "django_pstch_helpers/detail/object_field_row.html" with field="Name" value=object.name %}{% endif %}
      {% if object.description %}{% include "django_pstch_helpers/detail/object_field_row.html" with field="Description" value=object.description %}{% endif %}
    </table>
    {% if related %}
      {% include "django_pstch_helpers/delete/related.html" with object=object related=related %}
    {% endif %}
  </div>
</div>
