<tr>
  <td>
    <h4 type="pull-left">
      {{ label }}
      {% with count=model.get_count %}
      <small class="pull-right">{{ count }} object{{ count|pluralize }}</small>
      {% endwith %}
    </h4>
    {% if model.get_help_text %}<span class="text-info">{{ model.get_help_text }}</span>{% endif %}
  </td>
  <td>
    <div class="btn-group-vertical pull-right">
      {% if model.get_list_url %}
      <a class="btn btn-primary" href="{{ model.get_list_url }}">List</a>
      {% endif %}
      {% if model.get_create_url %}
      <a class="btn btn-success" href="{{ model.get_create_url }}">Create</a>
      {% endif %}
    </div>
  </td>
</tr>
