<div class="row">
  <div class="col-md-7">
    <h2>Users
      <small class="pull-right btn-group">
          {% include "django_pstch_helpers/base/widgets/button.html" with btn-class='info' title='User list' url=user_list_url text='Open list' %}
          {% include 'django_pstch_helpers/base/widgets/button.html' with btn-class='primary' title='Create user' url=user_create_url text='Create user'}
      </small>
    </h2>
    <hr/>
    {% include "django_pstch_helpers/auth/user/list/table.html" with object_list=user_list delete_url=user_delete_url update_url=user_update_url %}
  </div>
  <div class="col-md-5">
    <h2>Groups
      <small class="pull-right btn-group">
          {% include "django_pstch_helpers/base/widgets/button.html" with btn-class='info' title='Group list' url=group_list_url text='Open list' %}
          {% include 'django_pstch_helpers/base/widgets/button.html' with btn-class='primary' title='Create group' url=group_create_url text='Create group'}
      </small>
    </h2>
    <hr/>
    {% include "django_pstch_helpers/list/description+actions_table.html" with object_list=group_list delete_url=group_delete_url update_url=group_update_url %}
  </div>
</div>
