<div class="row">
  <div class="col-md-7">
    <h2>Users
      <small class="pull-right btn-group">
	<a class="btn btn-info"
	   href="{% url user_list_url %}">Open list</a>
	<a class="btn btn-primary"
	   href="{% url user_create_url %}">Create user</a>
      </small>
    </h2>
    <hr/>
    {% include "django_pstch_helpers/auth/user/list/table.html" with object_list=user_list delete_url=user_delete_url update_url=user_update_url %}
  </div>
  <div class="col-md-5">
    <h2>Groups
      <small class="pull-right btn-group">
	<a class="btn btn-info"
	   href="{% url group_list_url %}">Open list</a>
	<a class="btn btn-primary"
	   href="{% url group_create_url %}">Create group</a>
      </small>
    </h2>
    <hr/>
    {% include "django_pstch_helpers/list/description+actions_table.html" with object_list=group_list delete_url=group_delete_url update_url=group_update_url %}
  </div>
</div>
