<!-- Delete Modal (used with pure.js)-->
<div class="modal fade" id="logout-modal" role="dialog" aria-labelledby="logout-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="logout-modal-label">{{ modal_title }}</h4>
      </div>
      <div class="modal-body">
	<form method="post"
	      action="{% if delete_url %}{{ delete_url }}{% elif object %}object.get_delete_url{% endif %}">
	  {% csrf_token %}
	  <center>
	    <p class="lead modal-header">
	      Are you sure you want to delete this
	      {% if model or object_type %}
	      <span class="object-type label {{ model.LABEL_CLASS|default:'default' }}">
		{% if object_type %}
		{{ object_type }}
		{% else %}
		{{ model.get_label }}
		{% endif %}
	      </span>
	      {% endif %} object :
	    </p>
	    <p class="text-info object-info">
	      {% if object_info %}{{ object_info }}{% elif object %}{% render object %}{% endif %}
	    </p>
	    <input type="submit" class="btn btn-primary" value="Yes">
	    <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">No</a>
	  </center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.logout-modal -->
