{% load render %}

<p>These objects are related and <strong>will be deleted or altered</strong> if you proceed.</p>
<table class="table table-details table-condensed table-hover deletion-related-table">
  <thead>
    <tr>
      <th>
	<span class="pull-right">Type</span>
      </th>
      <th>
	<span class="pull-left">Name</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for model, instance in related %}
      <tr>
	<td>
	  <a class="label label-{{ model.LABEL_CLASS|default:"info" }}" {% if model.get_list_url %}href="{{ model.get_list_url }}"{% endif %}>
	    {{ model.get_label|capfirst }}
	  </a>
	</td>
	<td>
	  {% render instance %}
	  {% if instance == object %}<span class="pull-left label label-warning">(current object)</span>{% endif %}
	</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
