{% load render %}

<tr>
  <td class="{{ key_class }}">
      {% if strong %}
      <strong>
	{{ field }}
      </strong>
      {% else %}
      {{ field }}
      {% endif %}
  </td>
  <td class="{{ value_class }}" {% if title %}title="{{ title|escape }}"{% endif %}
      {% if data_value %}data-value="{{ value}}"{% endif %}>
      {% if to_render %}
      {% render value %}
      {% elif to_code %}
      <code>{{ value }}</code>
      {% else %}
      {{ value }}
      {% endif %}
  </td>
</tr>
