{% for message in messages %}

{% if message.tags == 'debug' %}
<pre> {{ message }} </pre>
{% else %}

{% if message.tags == 'error' %}
<div class="alert alert-danger altert-dismissable">
{% elif message.tags == 'success' %}
<div class="alert alert-success">
{% elif message.tags == 'warning' %}
<div class="alert alert-warning">
{% elif message.tags == 'info' %}
<div class="alert alert-info">
{% else %}
<div class="alert alert-info">
{% endif %}
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
{{ message }}
</div>

{% endif %}

{% endfor %}

