<div class="col-md-3">
  <div class="well">
    <h2><small>Search</small></h2>
    <form id="search-form" action="{% url 'documents:search' %}" class="form form-search form-horizontal">
      <div class="input-append span12">
        <input type="text" class="search-query" placeholder="Search">
        <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </form>
    <hr/>
    <p>
      <a align="right" href="{% url 'documents:search' %}">Advanced search</a>
      <p>
  </div>
</div>
