{% load bootstrap %}

<form class="form form-horizontal"
      method="POST">
  {% csrf_token %}
  {% if form.errors %}
    <div class="alert alert-danger">
      <p class="lead">Errors validating form data</p>
      <ul>
	{% for error in form.errors %}
	  <li>{{ error }}</li>
	{% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="col-md-6">
	  {{ form.first_name|bootstrap }}
        </div>
        <div class="col-md-6">
	  {{ form.last_name|bootstrap }}
        </div>
      </div>
      <div class="form-group">
	{{ form.username|bootstrap }}
      </div>
      <div class="form-group">
        {{ form.email|bootstrap }}
      </div>
    </div>
    <div class="col-sm-6">

      <ul class="nav nav-tabs">
	<li class="active"><a href="#characteristics" data-toggle="tab">Characteristics</a></li>
	<li><a href="#groups" data-toggle="tab">Groups</a></li>
	<li><a href="#permissions" data-toggle="tab">Permissions</a></li>
	<li><a href="#password" data-toggle="tab">Password</a></li>
      </ul>

      <div class="tab-content">
	<div class="tab-pane fade in active" id="characteristics">
	  <div class="form-group">
	    {{ form.last_login | bootstrap }}
	  </div>
	  <div class="form-group">
	    {{ form.date_joined | bootstrap }}
	  </div>
	  <div class="form-group">
	    {{ form.is_superuser|bootstrap }}
	  </div>
	  <div class="form-group">
	    {{ form.is_staff|bootstrap }}
	  </div>
	  <div class="form-group">
	    {{ form.is_active|bootstrap }}
	  </div>
	</div>
	<div class="tab-pane fade" id="groups">
	  <div class="form-group">
	    {{ form.groups|bootstrap }}
	  </div>	  
	</div>
	<div class="tab-pane fade" id="permissions">
	  <div class="form-group">
	    {{ form.user_permissions|bootstrap }}
	  </div>
	</div>
	<div class="tab-pane fade" id="password">
	  <div class="form-group">
	    {{ form.password | bootstrap }}
	  </div>
	</div>
      </div>
    </div>
  </div>
  <input type="hidden" name="next" value="{% url 'home:user-list' %}">
  <input type="submit" class="pull-left btn btn-large btn-primary" value="Submit">
</form>
